.header
  About Us
#about_text
  %p We are currently living in New York City.  This blog will serve as a travel journal, allowing our friends and family back home to track our adventures.
  %img
  = image_tag "about-pic.jpg"  
