.header
  About Us
#about_text
  %p We are currently living in New York City.  This blog will serve as a travel journal, allowing our friends and family back home to track our adventures.
#about_image_holder
  #left_image
    = image_tag "about-pic.jpg"
  #right_image
    = image_tag "blake-about.jpg"
  #bottom_image
    = image_tag "michelle-about.jpg"
