.header
  { Contact Us }
#contact_text
  %p Oh hello there, we always love to meet new people in our travels.  Feel free to reach out to us at
  %a(href="mailto: michelle.blake@happilyadrift.com") michelle.blake@happilyadrift.com.