.header
  { Places We've Been }
#about_text
  %p Browse past posts by continent and country...
#subheader_text
  %p Europe
  %ul
    %li 
      %a(href="#") Belgium
    %li#subheader_last_item 
      %a(href="#") Turkey
  %p North America
  %ul 
    %li 
      %a(href="#") Canada
    %li
      %a(href="#") Puerto Rico
    %li#subheader_last_item 
      %a(href="#") United States
  %p Asia
  %ul
    %li#subheader_last_item
      %a(href="#") Thailand