.header
  { Resources }
#subheader_text
  %p Some of our favorite travel blogs:
  %ul
    %li 
      %a(href="http://www.legalnomads.com") Legal Nomads
    %li 
      %a(href="http://www.nomadicmatt.com/") Nomadic Matt
    %li 
      %a(href="http://www.neverendingvoyage.com/") Never Ending Voyage
    %li
      %a(href="http://www.classetouriste.be/") Classe Touriste
    %li
      %a(href="http://eatyourworld.com/") Eat Your World
    %li#subheader_last_item
      %a(href="http://migrationology.com/") Migrationology

#subheader_text
  %p Useful travel apps:
  %ul
    %li
      %a(href="http://airbnb.com/") Airbnb
    %li
      %a(href="http://talkatone.com/") Talkatone
    %li
      %a(href="http://triposo.com/") Triposo
    %li#subheader_last_item
      %a(href="https://evernote.com/") Evernote

#subheader_text
  %p Travel and Health Insurance
  %ul
    %li
      %a(href="http://worldnomads.com/") World Nomads
    %li#subheader_last_item
      %a(href="http://worldwideinsure.com/longstay-travel-insurance-overseas.htm") Worldwide Insure