- @posts.each do |post|
  .row.post_full
    .span10
      .full-post-title
        #post-title
          = link_to post.title, post
        .post-subtitle By: Michelle Rittner | Posted on March 17, 2013
        .keywords-posttitle
          %span#no-italic Keywords
          Istanbul, Turkey, Cats
        .indent
          = post.content
        = link_to 'Show', post          
        = link_to 'Edit', edit_post_path(post)
/       %td= post.published_at
/       %td= link_to 'Show', post
/       %td= link_to 'Destroy', post, :method => :delete, :data => { :confirm => 'Are you sure?' }

/ %br

/ = link_to 'New Post', new_post_path


/ .container
/   .row
/     .span10
/       .full-post-title
/         #post-title Post Title
/         #post-subtitle By: Michelle Rittner | Posted on March 17, 2013
/         #keywords-posttitle
/           %span#no-italic Keywords
/           Istanbul, Turkey, Cats
/       .indent
/         %p
/           Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum.
/         .span8.offset1
/           .post-image
/             .image-holder
/               / %img{:src => "assets/images/post-pic.png"}
/             .caption Caption Here
/       .span10
/         %p
/           Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum.
