/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


@font-face {
    font-family: "Cedarville";
    src: url("Cedarville-Cursive.ttf") format("truetype");
}

#doc-contain
{
  width: 100%;
  height: 100%;
  position: absolute;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 100;
}

#logo
{
  position: absolute;
  margin-top: 54px;
  margin-left: 67px;
}

#header-contain
{
  width: 100%;
  height: 170px;
  position: absolute;
  z-index: 99;
  border-bottom: 15px solid #EEE;
  border-bottom-style: double;

}

#header-text p
{
  position: absolute;
  width:100%;
  white-space: nowrap;
  z-index: 98;
  left: 350px;
  padding-top: 124px;
  font-size: 120px;
  color: #555;
  font-family: "Cedarville";
}


#side-contain
{
  width: 250px;
  min-height: 2000px;  
  position: absolute;
  z-index: 99;
  border-right: 15px solid #EEE;
  border-right-style: double;
  background: transparent;

}

#menu-text
{
  padding-top: 255px;
  padding-left: 60px;
  font-size: 18px;
  font-family: "HelveticaNeue-Light";
  color: #555;
  letter-spacing: .1em;
}

#menu-text ul li a 
{
  font-family: "HelveticaNeue-Light";
  font-size: 18px;  
}

.icons
{
  padding-left: 20px;
  padding-top: 20px;
  width: 125px;
  height: 50px;
  position: relative;
  display: block;
  z-index: 97;
}

#menu-text li a
{
  color: #555;
  text-decoration: none;
  position: relative;
  transition: all .3s; /* Vendor prefixes required in your code. */
}

#menu-text li a:after, a:before
{
  transition: all .3s; /* Once again, vendor prefixes required. */
}

.brackets:before, .brackets:after {
  position: relative;
  color: transparent;/* It makes the curly brackets invisible at the beginning.*/
}
.brackets:hover:before, .brackets:hover:after {
  color: #555; /* Or whatever colour you want. */
}

/* For movement */
.brackets:before {
  content: "{";
  left: -20px;
}
.brackets:hover:before {
  left: -15px;
}
.brackets:after {
  content: "}";
  right: -20px;
}
.brackets:hover:after {
  right: -15px;
}

#menu-text li 
{
    line-height: 25px;
}

#menu-text ul 
{
  list-style-type: none;
}

.container
{
  width: 60%;
  height: 100%;
  position: relative;
  z-index: 95;
  left: 20px;
  top:257px;
/*  border: 1px solid red;*/
  margin-left: 0px;
  font-family: "HelveticaNeue-Light";
}


.post-subtitle
{
  font-size: 10px;
}

.keywords-posttitle
{
  font-size: 10px;
  border-bottom: 1px solid #DDD;
  margin-bottom: 20px;
}

#keywords-italic 
{
  font-style: italic;  
}

.no-italic
{
  font-style: none;
}

.indent p
{
  text-indent: 50px;
  font-family: "HelveticaNeue-Light";
  font-size: 18px;
  letter-spacing: 0.1em;
  line-height: 122%;
}

.post-image
{
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
}

.image-holder
{
  width: 800px;
  height: 460px;
}

.caption p
{
  font-size: 12px;
  text-indent: 0px;
}


.facebook
{
  width: 22.75pt;
  height: 22.75pt;
  float: left;
  display: block;
  background:transparent url('facebook_icon.svg') center top no-repeat;
}

.facebook:hover 
{
  background-color: transparent;
  background-image: url('facebook_icon-blue.svg');
}

.twitter
{
  width: 22.75pt;
  height: 22.75pt;
  float: left;
  display: block;
  background:transparent url('twitter_icon.svg') center top no-repeat;
}

.twitter:hover 
{
  background-color: transparent;
  background-image: url('twitter_icon-blue.svg');
}

.stumble
{
  width: 22.75pt;
  height: 22.75pt;
  float: left;
  display: block;
  background:transparent url('stumble_icon.svg') center top no-repeat;
}

.stumble:hover 
{
  background-color: transparent;  
  background-image: url('stumble_icon-blue.svg');
}

.rss
{
  width: 22.75pt;
  height: 22.75pt;
  float: left;
  display: block;
  background:transparent url('rss_icon.svg') center top no-repeat;
}

.rss:hover 
{
  background-color: transparent;
  background-image: url('rss_icon-blue.svg');
}

#menu-text li a:hover
{
  background-color: transparent;  
  color: #6495ED;
}

#post-title 
{
  font-size: 60px;
  font-family: "HelveticaNeue";
  padding-bottom: 10px;  
  background-color: transparent;  
  text-decoration: none;
  color: #555;
  line-height: 48px;
}


#post-title a:hover
{
  background-color: transparent;  
  color: #6495ED;
  text-decoration: none;
}

.blog-padding
{
  padding-bottom: 100px;
}

.indent a
{
  color: #6495ED;
}

.image-holder img 
{
  padding-right: 8px;
}

.post_full
{
  padding-bottom: 70px;
}

#post_content
{
  width: 800px;
}

#post_title
{
  width: 800px;
}

#post_tags
{
  width: 800px;
  height: 50px;
}

.header
{
  font-size: 40px;
  font-family: "HelveticaNeue";
  color: #555;
  padding-bottom: 30px;
  padding-top: 11px;
}

#about_text p
{
  font-size: 18px;
  font-family: "HelveticaNeue-Light";
  color: #555;
  letter-spacing: .1em;
  line-height: 122%;
}

#about_image_holder 
{
float: left;
}

#left_image
{
  padding-right: 7px;
  display: inline-block;
}

#right_image
{
  /*padding-bottom: 7px;*/
  width: 285px;
  display: inline-block;
  vertical-align: top;
}

#bottom_image
{
  padding: 0px;
  display: inline-block;
  vertical-align: top;
  position: absolute;
  width: 285px;
  left: 652px;
  top: 435px;
}

span.roll#left_span
{
  background: center center no-repeat #000;
  height: 635px;
  position: absolute;
  width: 642px;
  z-index: 10;  
  -webkit-box-shadow: 0px 0px 4px #000;
  -moz-box-shadow: 0px 0px 4px  #000;
  box-shadow: 0px 0px 4px  #000;
}

#left_text p 
{
  color: white;
  font-size: 20px;
}

span.roll#right_span
{
  background: center center no-repeat #000;
  height: 312px;
  position: absolute;
  width: 285px;
  z-index: 10;  
  -webkit-box-shadow: 0px 0px 4px #000;
  -moz-box-shadow: 0px 0px 4px  #000;
  box-shadow: 0px 0px 4px  #000;
}

span.roll#bottom_span
{
  background: center center no-repeat #000;
  height: 312px;
  position: absolute;
  width: 285px;
  z-index: 10;  
  -webkit-box-shadow: 0px 0px 4px #000;
  -moz-box-shadow: 0px 0px 4px  #000;
  box-shadow: 0px 0px 4px  #000;
}

#resources_text p 
{
  font-size: 26px;
  font-family: "HelveticaNeue-Light";
  color: #555;
  letter-spacing: .1em;
  line-height: 122%;
}

#resources_last_item
{
  padding-bottom: 9px;
}

#resources_text a
{
  font-size: 18px;
  font-family: "HelveticaNeue-Light";
  color: #555;
  letter-spacing: .1em;
  line-height: 122%;
}

#resources_text
{
  border-bottom: 1px solid #DDD;
  margin-bottom: 15px;
}

#resources_text a:hover 
{
  font-size: 18px;
  font-family: "HelveticaNeue-Light";
  color: #6495ED;
  letter-spacing: .1em;
  line-height: 122%;
  background: transparent;
  text-decoration: none;
}